<div class="tasks">
    <h1>{{ titleComponent }}</h1>
    <p>Aquí podrás ver, agregar y administrar tus tareas.</p>

    <!-- Formulario para agregar tarea -->
    <div>
      <!-- ngModel es lo mismo que value + input -->
      <input 
        type="text"
        [(ngModel)]="newTaskTitle"
        placeholder="Nueva Tarea"/>
      <button (click)="addTask()">Agregar tarea</button>
    </div>

    <!-- En caso de no haber tareas -->
    <p *ngIf="tasks.length === 0">No tienes tareas pendientes</p>
  
    <!-- Lista de tareas -->
    <ul>
      <!-- 
      Este <li> tiene varias funcionalidades:
      - Es parte de una lista generada dinámicamente con *ngFor que itera sobre las tareas.
      - Soporta el arrastre (drag & drop) gracias a los atributos:
        - draggable="true" permite que el elemento sea arrastrable.
        - (dragstart) captura el índice de la tarea que se está arrastrando.
        - (dragover) evita el comportamiento predeterminado para permitir el evento "drop".
        - (drop) actualiza la posición de las tareas tras soltar el elemento.
      -->
      <li *ngFor="let task of tasks; let i = index"
        draggable="true" 
        (dragstart)="onDragStart(i)" 
        (dragover)="onDragOver($event)" 
        (drop)="onDrop(i)">
      =
        <!-- Checkbox para marcar tarea como completada -->
        <input 
          type="checkbox" 
          [checked]="task.completed" 
          (change)="toggleTaskCompletion(task.id)">
  
        <!-- Título de la tarea -->
        {{ task.title }}
  
        <!-- Botón para eliminar tarea -->
        <button (click)="deleteTask(task.id)">Eliminar</button>
      </li>
    </ul>
  </div>
  